In [1]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestNeighbors
import pandas as pd
import os
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.cluster import KMeans
%matplotlib inline
from sklearn.preprocessing import StandardScaler
import warnings
warnings.simplefilter('ignore')
import numpy as np

In [2]:
housing_training_data = pd.read_csv("housing_training_data.csv")
housing_training_data.head()

,house_id,price,beds,baths,square_feet,lot_size,hoa_permonth,Summer Temp,Winter Temp,population
0,1,795000.0,5.0,3.0,2080.0,7250.0,0.0,79.0,51.0,31068.0
1,2,795000.0,5.0,3.0,2080.0,7250.0,0.0,79.0,51.0,31068.0
2,3,1189000.0,4.0,3.5,1482.0,5398.0,0.0,79.0,51.0,28168.0
3,4,1189000.0,4.0,3.5,1482.0,5398.0,0.0,79.0,51.0,28168.0
4,5,4295000.0,4.0,5.5,4081.0,6499.0,0.0,79.0,51.0,34109.0

In [20]:
house_data_for_results = pd.read_csv("combination_data/housing_complete_data.csv")
house_data_for_results.head()

,Unnamed: 0,house_id,property_type,address,city,state,zip_code,price,beds,baths,...,lot_size,year_built,hoa_permonth,url,latitude,longitude,Summer Temp,Winter Temp,population,pop_cat
0,0,1,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.0,...,7250.0,1948.0,0.0,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107,79.0,51.0,31068.0,middle
1,1,2,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.0,...,7250.0,1948.0,0.0,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107,79.0,51.0,31068.0,middle
2,2,3,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.5,...,5398.0,1938.0,0.0,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714,79.0,51.0,28168.0,middle
3,3,4,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.5,...,5398.0,1938.0,0.0,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714,79.0,51.0,28168.0,middle
4,4,5,Single Family Residential,221 S Willaman Dr,Beverly Hills,CA,90211.0,4295000.0,4.0,5.5,...,6499.0,2018.0,0.0,http://www.redfin.com/CA/Beverly-Hills/221-S-W...,34.063496,-118.380685,79.0,51.0,34109.0,middle

In [4]:
X = housing_training_data[["Summer Temp", "Winter Temp", "population", "square_feet", 'price', "beds", 'baths', "lot_size", 'hoa_permonth', 
                          ]]
print(X.shape)

(7604, 9)

In [5]:
X.head(100)

,Summer Temp,Winter Temp,population,square_feet,price,beds,baths,lot_size,hoa_permonth
0,79.0,51.0,31068.0,2080.0,795000.0,5.0,3.0,7250.0,0.0
1,79.0,51.0,31068.0,2080.0,795000.0,5.0,3.0,7250.0,0.0
2,79.0,51.0,28168.0,1482.0,1189000.0,4.0,3.5,5398.0,0.0
3,79.0,51.0,28168.0,1482.0,1189000.0,4.0,3.5,5398.0,0.0
4,79.0,51.0,34109.0,4081.0,4295000.0,4.0,5.5,6499.0,0.0
...,...,...,...,...,...,...,...,...,...
95,76.0,49.0,46781.0,1714.0,899000.0,2.0,2.5,0.0,390.0
96,76.0,49.0,46781.0,1656.0,899000.0,3.0,2.5,0.0,500.0
97,76.0,49.0,46781.0,1646.0,1150000.0,2.0,2.0,21004.0,605.0
98,76.0,49.0,46781.0,506.0,365000.0,1.0,1.0,292032.0,220.0
99,76.0,49.0,46781.0,2458.0,1595000.0,4.0,3.0,8500.0,0.0

In [6]:
data = X.copy()

In [7]:
# from sklearn.model_selection import train_test_split

# X_train, X_test= train_test_split(X, random_state=42)

# X_train.head()

In [14]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X)
X_scaler

StandardScaler()

In [15]:
X_scaled = X_scaler.transform(X)
X_scaled

array([[-0.12019135,  0.71909948, -0.68110291, ...,  0.41060305,
        -0.03836231, -0.20217592],
       [-0.12019135,  0.71909948, -0.68110291, ...,  0.41060305,
        -0.03836231, -0.20217592],
       [-0.12019135,  0.71909948, -0.68372149, ...,  0.67234809,
        -0.0405828 , -0.20217592],
       ...,
       [-1.30942855,  0.19509817, -0.66129286, ..., -0.63637708,
        -0.03969916, -0.20217592],
       [-0.12019135, -0.85290445, -0.56306522, ..., -0.11288701,
        -0.04705484, -0.00715146],
       [-0.12019135, -0.85290445, -0.56306522, ..., -0.11288701,
        -0.04705484, -0.00715146]])

In [16]:
kmeans = KMeans(n_clusters=16)

In [17]:
kmeans.fit(X_scaled)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
predicted_clusters = kmeans.predict(X)

In [ ]:
X_scaled

In [ ]:
Xlist = X_scaled.to_numpy()

In [ ]:
Xlist

### HERE BEGINS THE MAGIC

In [ ]:
kmeans.fit(Xlist)

predicted_clusters = kmeans.predict(Xlist)
#TESTING INFO INPUT BLAH BLAH
# predicted_clusters = [this is where we put the array of inputed data]

In [ ]:
predicted_clusters

In [ ]:
# Plot the clusters
plt.scatter(Xlist[:, 0], Xlist[:, 1], c=predicted_clusters, s=50, cmap='viridis')
plt.show()

In [ ]:
# Print the cluster centers and cluster labels
centers = kmeans.cluster_centers_
labels = kmeans.labels_

In [ ]:
centers

In [ ]:
plt.scatter(Xlist[:, 0], Xlist[:, 1], c=labels, s=50, cmap='viridis')
plt.scatter(centers[:, 0], centers[:, 1], c='black', s=200, alpha=0.5)

plt.show()

In [ ]:
cat = kmeans.predict(Xlist[0].reshape(1, -1))

In [ ]:
Xlist[0]

In [ ]:
Xlist[1]

In [ ]:
X

In [ ]:
house_list = []

for i in range(4000):
    if kmeans.predict(Xlist[i].reshape(1, -1)) == cat:
        print (housing_training_data.iloc[i])
        print (housing_training_data.house_id[i])
        house_list.append(housing_training_data.house_id[i])
        print (Xlist[i])
        print (kmeans.predict(Xlist[i].reshape(1, -1)))

In [25]:
house_list

NameError: name 'house_list' is not defined

In [22]:
# now we go back to the orginal dataframe and find these house_ids
# df.loc[df['column_name'] == some_value]
find_it = house_data_for_results.loc[housing_training_data['house_id'] == 1]

In [23]:
find_it

,Unnamed: 0,house_id,property_type,address,city,state,zip_code,price,beds,baths,...,lot_size,year_built,hoa_permonth,url,latitude,longitude,Summer Temp,Winter Temp,population,pop_cat
0,0,1,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.0,...,7250.0,1948.0,0.0,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107,79.0,51.0,31068.0,middle

In [24]:
print(f'{find_it.house_id} and {find_it.price}'" in the US.")

0    1
Name: house_id, dtype: int64 and 0    795000.0
Name: price, dtype: float64 in the US.

In [ ]:
# for row in housing_training_data.itertuples():
# #     if (housing_training_data.house_id == "1"):
#     print(row)

In [21]:
house_data_for_results.head()

,Unnamed: 0,house_id,property_type,address,city,state,zip_code,price,beds,baths,...,lot_size,year_built,hoa_permonth,url,latitude,longitude,Summer Temp,Winter Temp,population,pop_cat
0,0,1,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.0,...,7250.0,1948.0,0.0,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107,79.0,51.0,31068.0,middle
1,1,2,Single Family Residential,9765 Vena Ave,Arleta,CA,91331.0,795000.0,5.0,3.0,...,7250.0,1948.0,0.0,http://www.redfin.com/CA/Arleta/9765-Vena-Ave-...,34.247852,-118.428107,79.0,51.0,31068.0,middle
2,2,3,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.5,...,5398.0,1938.0,0.0,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714,79.0,51.0,28168.0,middle
3,3,4,Townhouse,3152 Casitas Ave,Atwater Village,CA,90039.0,1189000.0,4.0,3.5,...,5398.0,1938.0,0.0,http://www.redfin.com/CA/Los-Angeles/3152-Casi...,34.113874,-118.249714,79.0,51.0,28168.0,middle
4,4,5,Single Family Residential,221 S Willaman Dr,Beverly Hills,CA,90211.0,4295000.0,4.0,5.5,...,6499.0,2018.0,0.0,http://www.redfin.com/CA/Beverly-Hills/221-S-W...,34.063496,-118.380685,79.0,51.0,34109.0,middle