In [23]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestNeighbors
import pandas as pd
import os
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.cluster import KMeans
%matplotlib inline
from sklearn.preprocessing import StandardScaler
import warnings
warnings.simplefilter('ignore')
import numpy as np

In [24]:
housing_training_data = pd.read_csv("housing_training_data.csv")
housing_training_data.head()

,house_id,price,beds,baths,square_feet,lot_size,hoa_permonth,Summer Temp,Winter Temp,population
0,1,308590.0,5.0,2.5,3216.0,7840.0,35.0,90.0,34.0,30352.0
1,2,236400.0,3.0,2.0,1588.0,7405.0,0.0,90.0,34.0,30352.0
2,3,261715.0,3.0,2.5,2174.0,7840.0,35.0,90.0,34.0,30352.0
3,4,244790.0,4.0,2.0,1774.0,8276.0,35.0,90.0,34.0,30352.0
4,5,279570.0,5.0,3.0,2511.0,7840.0,35.0,90.0,34.0,30352.0

In [25]:
house_data_for_results = pd.read_csv("combination_data/housing_complete_data.csv")
house_data_for_results.head()

,Unnamed: 0,house_id,property_type,address,city,state,zip_code,price,beds,baths,...,lot_size,year_built,hoa_permonth,url,latitude,longitude,Summer Temp,Winter Temp,population,pop_cat
0,0,1,Single Family Residential,1022 Canvasback Way,Alabaster,AL,35007,308590.0,5.0,2.5,...,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1022-Canvas...,33.183032,-86.799330,90.0,34.0,30352.0,middle
1,1,2,Single Family Residential,325 Shelby Farms Ln,Alabaster,AL,35007,236400.0,3.0,2.0,...,7405.0,2020.0,0.0,http://www.redfin.com/AL/Alabaster/325-Shelby-...,33.175238,-86.818897,90.0,34.0,30352.0,middle
2,2,3,Single Family Residential,1018 Canvasback Way,Alabaster,AL,35007,261715.0,3.0,2.5,...,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1018-Canvas...,33.183032,-86.799330,90.0,34.0,30352.0,middle
3,3,4,Single Family Residential,1026 Canvasback Dr,Alabaster,AL,35007,244790.0,4.0,2.0,...,8276.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1026-Canvas...,33.183032,-86.799330,90.0,34.0,30352.0,middle
4,4,5,Single Family Residential,1001 Canvasback Way,Alabaster,AL,35007,279570.0,5.0,3.0,...,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1001-Canvas...,33.183032,-86.799330,90.0,34.0,30352.0,middle

In [26]:
X = housing_training_data[["house_id","Summer Temp", "Winter Temp", "population", "square_feet", 'price', "beds", 'baths', "lot_size", 'hoa_permonth', 
                          ]]
print(X.shape)

(8998, 10)

In [27]:
X.head(100)

,house_id,Summer Temp,Winter Temp,population,square_feet,price,beds,baths,lot_size,hoa_permonth
0,1,90.0,34.0,30352.0,3216.0,308590.0,5.0,2.5,7840.0,35.0
1,2,90.0,34.0,30352.0,1588.0,236400.0,3.0,2.0,7405.0,0.0
2,3,90.0,34.0,30352.0,2174.0,261715.0,3.0,2.5,7840.0,35.0
3,4,90.0,34.0,30352.0,1774.0,244790.0,4.0,2.0,8276.0,35.0
4,5,90.0,34.0,30352.0,2511.0,279570.0,5.0,3.0,7840.0,35.0
...,...,...,...,...,...,...,...,...,...,...
95,96,91.0,33.0,27456.0,1829.0,299900.0,2.0,2.0,1089.0,0.0
96,97,91.0,33.0,27456.0,2121.0,229900.0,4.0,3.0,4791.0,17.0
97,98,91.0,33.0,27456.0,2470.0,399000.0,4.0,3.5,43560.0,0.0
98,99,91.0,33.0,27456.0,2272.0,180000.0,3.0,2.0,13068.0,0.0
99,100,91.0,33.0,27456.0,1490.0,179900.0,3.0,2.0,9147.0,25.0

In [35]:
data = X.copy()

In [36]:
# from sklearn.model_selection import train_test_split

# X_train, X_test= train_test_split(X, random_state=42)

# X_train.head()

In [37]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X)
X_scaler

StandardScaler()

In [38]:
X_scaled = X_scaler.transform(X)
X_scaled

array([[-1.73185833,  1.09904724, -0.72021625, ...,  0.09117826,
        -0.04250683, -0.15773574],
       [-1.73147334,  1.09904724, -0.72021625, ..., -0.18048465,
        -0.04307201, -0.18898104],
       [-1.73108835,  1.09904724, -0.72021625, ...,  0.09117826,
        -0.04250683, -0.15773574],
       ...,
       [ 1.73108835, -1.45615795,  0.27563327, ..., -0.72381049,
        -0.04472209, -0.18898104],
       [ 1.73147334, -0.2457976 , -0.81074803, ..., -0.18048465,
        -0.05269311,  0.02259428],
       [ 1.73185833, -0.2457976 , -0.81074803, ..., -0.18048465,
        -0.05269311,  0.02259428]])

In [39]:
kmeans = KMeans(n_clusters=16)

In [40]:
kmeans.fit(X)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
predicted_clusters = kmeans.predict(X)

In [ ]:
X_scaled

In [ ]:
Xlist = X_scaled.to_numpy()

In [ ]:
Xlist

### HERE BEGINS THE MAGIC

In [ ]:
kmeans.fit(Xlist)

predicted_clusters = kmeans.predict(Xlist)
#TESTING INFO INPUT BLAH BLAH
# predicted_clusters = [this is where we put the array of inputed data]

In [ ]:
predicted_clusters

In [ ]:
# Plot the clusters
plt.scatter(Xlist[:, 0], Xlist[:, 1], c=predicted_clusters, s=50, cmap='viridis')
plt.show()

In [ ]:
# Print the cluster centers and cluster labels
centers = kmeans.cluster_centers_
labels = kmeans.labels_

In [ ]:
centers

In [ ]:
plt.scatter(Xlist[:, 0], Xlist[:, 1], c=labels, s=50, cmap='viridis')
plt.scatter(centers[:, 0], centers[:, 1], c='black', s=200, alpha=0.5)

plt.show()

In [ ]:
cat = kmeans.predict(Xlist[0].reshape(1, -1))

In [ ]:
Xlist[0]

In [ ]:
Xlist[1]

In [ ]:
X

In [ ]:
house_list = []

for i in range(4000):
    if kmeans.predict(Xlist[i].reshape(1, -1)) == cat:
        print (housing_training_data.iloc[i])
        print (housing_training_data.house_id[i])
        house_list.append(housing_training_data.house_id[i])
        print (Xlist[i])
        print (kmeans.predict(Xlist[i].reshape(1, -1)))

In [25]:
house_list

NameError: name 'house_list' is not defined

In [22]:
# now we go back to the orginal dataframe and find these house_ids
# df.loc[df['column_name'] == some_value]
# find_it = house_data_for_results.loc[housing_training_data['house_id'] == 1]

In [49]:
# find_it

In [50]:
# print(f'{find_it.house_id} and {find_it.price}'" in the US.")

In [51]:
# for row in housing_training_data.itertuples():
# #     if (housing_training_data.house_id == "1"):
#     print(row)

In [22]:
house_data_for_results.head()

,Unnamed: 0,house_id,property_type,address,city,state,zip_code,price,beds,baths,...,lot_size,year_built,hoa_permonth,url,latitude,longitude,Summer Temp,Winter Temp,population,pop_cat
0,0,1,Single Family Residential,1022 Canvasback Way,Alabaster,AL,35007,308590.0,5.0,2.5,...,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1022-Canvas...,33.183032,-86.799330,90.0,34.0,30352.0,middle
1,1,2,Single Family Residential,325 Shelby Farms Ln,Alabaster,AL,35007,236400.0,3.0,2.0,...,7405.0,2020.0,0.0,http://www.redfin.com/AL/Alabaster/325-Shelby-...,33.175238,-86.818897,90.0,34.0,30352.0,middle
2,2,3,Single Family Residential,1018 Canvasback Way,Alabaster,AL,35007,261715.0,3.0,2.5,...,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1018-Canvas...,33.183032,-86.799330,90.0,34.0,30352.0,middle
3,3,4,Single Family Residential,1026 Canvasback Dr,Alabaster,AL,35007,244790.0,4.0,2.0,...,8276.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1026-Canvas...,33.183032,-86.799330,90.0,34.0,30352.0,middle
4,4,5,Single Family Residential,1001 Canvasback Way,Alabaster,AL,35007,279570.0,5.0,3.0,...,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1001-Canvas...,33.183032,-86.799330,90.0,34.0,30352.0,middle

In [5]:
house_list_test =  [1, 13, 43, 5643,357, 999]

In [43]:
results_df = house_data_for_results[house_data_for_results["house_id"].isin(house_list_test)]
results_df

,Unnamed: 0,house_id,property_type,address,city,state,zip_code,price,beds,baths,...,lot_size,year_built,hoa_permonth,url,latitude,longitude,Summer Temp,Winter Temp,population,pop_cat
0,0,1,Single Family Residential,1022 Canvasback Way,Alabaster,AL,35007,308590.0,5.0,2.5,...,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1022-Canvas...,33.183032,-86.799330,90.0,34.0,30352.0,middle
12,12,13,Single Family Residential,603 N Wynlake Dr,Alabaster,AL,35007,358400.0,5.0,4.0,...,10367.0,2020.0,29.0,http://www.redfin.com/AL/Alabaster/603-N-Wynla...,33.188987,-86.831787,90.0,34.0,30352.0,middle
42,42,43,Single Family Residential,17311 Brooklawn St,Athens,AL,35611,308075.0,4.0,2.5,...,6500.0,2020.0,25.0,http://www.redfin.com/AL/Athens/17311-Brooklaw...,34.809079,-86.954236,89.0,28.0,21897.0,middle
356,356,357,Single Family Residential,210 Chesser Loop Rd,Chelsea,AL,35043,252000.0,4.0,2.0,...,5227.0,2013.0,32.0,http://www.redfin.com/AL/Chelsea/210-Chesser-L...,33.353601,-86.628453,82.0,45.0,10183.0,middle
998,998,999,Single Family Residential,4300 Old Leeds Rd,Mountain Brook,AL,35213,1399000.0,4.0,5.0,...,65340.0,1990.0,0.0,http://www.redfin.com/AL/Birmingham/4300-Old-L...,33.505332,-86.717357,82.0,45.0,20413.0,middle
5642,5642,5643,Mobile/Manufactured Home,2138 E BLUE SPRUCE,Boise,ID,83716,114900.0,3.0,2.0,...,0.0,2017.0,520.0,http://www.redfin.com/ID/Boise/2138-Blue-Spruc...,43.525423,-116.157370,90.0,25.0,205671.0,large

In [55]:
results_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Unnamed: 0</th>\n      <th>house_id</th>\n      <th>property_type</th>\n      <th>address</th>\n      <th>city</th>\n      <th>state</th>\n      <th>zip_code</th>\n      <th>price</th>\n      <th>beds</th>\n      <th>baths</th>\n      <th>square_feet</th>\n      <th>lot_size</th>\n      <th>year_built</th>\n      <th>hoa_permonth</th>\n      <th>url</th>\n      <th>latitude</th>\n      <th>longitude</th>\n      <th>Summer Temp</th>\n      <th>Winter Temp</th>\n      <th>population</th>\n      <th>pop_cat</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>0</td>\n      <td>1</td>\n      <td>Single Family Residential</td>\n      <td>1022 Canvasback Way</td>\n      <td>Alabaster</td>\n      <td>AL</td>\n      <td>35007</td>\n      <td>308590.0</td>\n      <td>5.0</td>\n      <td>2.5</td>\n      <td>3216.0</td>\n      <td>7840.0</td>\n      <td>2020.0</td>\n      <td>35.0</td>\n      <td>http://www.redfin.com/AL/Alabaster/1022-Canvasback-Way-35007/home/172689242</td>\n      <td>33.183032</td>\n      <td>-86.799330</td>\n      <td>90.0</td>\n      <td>34.0</td>\n      <td>30352.0</td>\n      <td>middle</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>12</td>\n      <td>13</td>\n      <td>Single Family Residential</td>\n      <td>603 N Wynlake Dr</td>\n      <td>Alabaster</td>\n      <td>AL</td>\n      <td>35007</td>\n      <td>358400.0</td>\n      <td>5.0</td>\n      <td>4.0</td>\n      <td>3607.0</td>\n      <td>10367.0</td>\n      <td>2020.0</td>\n      <td>29.0</td>\n      <td>http://www.redfin.com/AL/Alabaster/603-N-Wynlake-Dr-35007/home/171353844</td>\n      <td>33.188987</td>\n      <td>-86.831787</td>\n      <td>90.0</td>\n      <td>34.0</td>\n      <td>30352.0</td>\n      <td>middle</td>\n    </tr>\n    <tr>\n      <th>42</th>\n      <td>42</td>\n      <td>43</td>\n      <td>Single Family Residential</td>\n      <td>17311 Brooklawn St</td>\n      <td>Athens</td>\n      <td>AL</td>\n      <td>35611</td>\n      <td>308075.0</td>\n      <td>4.0</td>\n      <td>2.5</td>\n      <td>2974.0</td>\n      <td>6500.0</td>\n      <td>2020.0</td>\n      <td>25.0</td>\n      <td>http://www.redfin.com/AL/Athens/17311-Brooklawn-ST-35611/home/170066679</td>\n      <td>34.809079</td>\n      <td>-86.954236</td>\n      <td>89.0</td>\n      <td>28.0</td>\n      <td>21897.0</td>\n      <td>middle</td>\n    </tr>\n    <tr>\n      <th>356</th>\n      <td>356</td>\n      <td>357</td>\n      <td>Single Family Residential</td>\n      <td>210 Chesser Loop Rd</td>\n      <td>Chelsea</td>\n      <td>AL</td>\n      <td>35043</td>\n      <td>252000.0</td>\n      <td>4.0</td>\n      <td>2.0</td>\n      <td>1951.0</td>\n      <td>5227.0</td>\n      <td>2013.0</td>\n      <td>32.0</td>\n      <td>http://www.redfin.com/AL/Chelsea/210-Chesser-Loop-Rd-35043/home/80733671</td>\n      <td>33.353601</td>\n      <td>-86.628453</td>\n      <td>82.0</td>\n      <td>45.0</td>\n      <td>10183.0</td>\n      <td>middle</td>\n    </tr>\n    <tr>\n      <th>998</th>\n      <td>998</td>\n      <td>999</td>\n      <td>Single Family Residential</td>\n      <td>4300 Old Leeds Rd</td>\n      <td>Mountain Brook</td>\n      <td>AL</td>\n      <td>35213</td>\n      <td>1399000.0</td>\n      <td>4.0</td>\n      <td>5.0</td>\n      <td>8157.0</td>\n      <td>65340.0</td>\n      <td>1990.0</td>\n      <td>0.0</td>\n      <td>http://www.redfin.com/AL/Birmingham/4300-Old-Leeds-Rd-35213/home/80935855</td>\n      <td>33.505332</td>\n      <td>-86.717357</td>\n      <td>82.0</td>\n      <td>45.0</td>\n      <td>20413.0</td>\n      <td>middle</td>\n    </tr>\n    <tr>\n      <th>5642</th>\n      <td>5642</td>\n      <td>5643</td>\n      <td>Mobile/Manufactured Home</td>\n      <td>2138 E BLUE SPRUCE</td>\n      <td>Boise</td>\n      <td>ID</td>\n      <td>83716</td>\n      <td>114900.0</td>\n      <td>3.0</td>\n      <td>2.0</td>\n      <td>1279.0</td>\n      <td>0.0</td>\n      <td>2017.0</td>\n      <td>520.0</td>\n      <td>http://www.redfin.com/ID/Boise/2138-Blue-Spruce-Ln-83716/unit-191/home/144795927</td>\n      <td>43.525423</td>\n      <td>-116.157370</td>\n      <td>90.0</td>\n      <td>25.0</td>\n      <td>205671.0</td>\n      <td>large</td>\n    </tr>\n  </tbody>\n</table>'