In [8]:
import pandas as pd

In [9]:
population = pd.read_csv('../population/population_categories.csv')
population

              state            city  population pop_cat
0          New York        New York     8175133   large
1        California     Los Angeles     3792621   large
2          Illinois         Chicago     2695598   large
3          New York        Brooklyn     2533000   large
4          New York          Queens     2230772   large
...             ...             ...         ...     ...
19544  South Dakota       Hillsview           3   small
19545  South Dakota      White Rock           3   small
19546      Nebraska   Gross village           2   small
19547      Oklahoma          Lotsee           2   small
19548      Nebraska  Monowi village           1   small

[19549 rows x 4 columns]

In [10]:
# population['population'] = population['population'].str.replace(',', '')

In [11]:
population.loc[:,'population'] = population.loc[:, 'population'].astype(int)

In [12]:
population_sorted = population.sort_values(by=['state', 'city'])
population_sorted

         state        city  population pop_cat
6580   Alabama   Abbeville        2688  middle
5008   Alabama  Adamsville        4522  middle
11640  Alabama     Addison         758   small
14833  Alabama       Akron         356   small
1237   Alabama   Alabaster       30352  middle
...        ...         ...         ...     ...
13894  Wyoming   Wamsutter         451   small
5654   Wyoming   Wheatland        3627  middle
4490   Wyoming     Worland        5487  middle
8049   Wyoming      Wright        1807   small
17600  Wyoming       Yoder         151   small

[19549 rows x 4 columns]

In [13]:
temp_data = pd.read_csv('../temperature/original_files/redfin_temps_complete.csv')
temp_data

        temp_city temp_state temp_abbr  Summer Temp  Winter Temp
0       Alabaster    Alabama        AL         90.0         34.0
1         Ardmore    Alabama        AL         89.0         28.0
2          Athens    Alabama        AL         89.0         28.0
3        Bessemer    Alabama        AL         91.0         33.0
4      Birmingham    Alabama        AL         82.0         45.0
..            ...        ...       ...          ...          ...
518  Williams Bay  Wisconsin        WI         80.0         10.0
519        Casper    Wyoming        WY         69.7         26.9
520      Cheyenne    Wyoming        WY         70.5         31.0
521        Lander    Wyoming        WY         70.9         17.9
522      Sheridan    Wyoming        WY         69.3         27.1

[523 rows x 5 columns]

In [14]:
temp_data_sorted = temp_data.sort_values(by=['temp_state', 'temp_city'])
temp_data_sorted

        temp_city temp_state temp_abbr  Summer Temp  Winter Temp
0       Alabaster    Alabama        AL         90.0         34.0
1         Ardmore    Alabama        AL         89.0         28.0
2          Athens    Alabama        AL         89.0         28.0
3        Bessemer    Alabama        AL         91.0         33.0
4      Birmingham    Alabama        AL         82.0         45.0
..            ...        ...       ...          ...          ...
518  Williams Bay  Wisconsin        WI         80.0         10.0
519        Casper    Wyoming        WY         69.7         26.9
520      Cheyenne    Wyoming        WY         70.5         31.0
521        Lander    Wyoming        WY         70.9         17.9
522      Sheridan    Wyoming        WY         69.3         27.1

[523 rows x 5 columns]

In [15]:
temp_data_sorted.dtypes

temp_city       object
temp_state      object
temp_abbr       object
Summer Temp    float64
Winter Temp    float64
dtype: object

In [16]:

temp_data_sorted.loc[:,'temp_city'] = temp_data_sorted.loc[:, 'temp_city'].astype("string")
temp_data_sorted.loc[:,'temp_state'] = temp_data_sorted.loc[:, 'temp_state'].astype("string")
temp_data_sorted.loc[:,'temp_abbr'] = temp_data_sorted.loc[:, 'temp_abbr'].astype("string")

In [17]:
temp_data_sorted.dtypes

temp_city       string
temp_state      string
temp_abbr       string
Summer Temp    float64
Winter Temp    float64
dtype: object

In [18]:
pop_temp_merge = temp_data_sorted.merge(population_sorted, how="left", left_on=['temp_state', 'temp_city'], right_on=['state', 'city'])

In [19]:
pop_temp_merge

,temp_city,temp_state,temp_abbr,Summer Temp,Winter Temp,state,city,population,pop_cat
0,Alabaster,Alabama,AL,90.0,34.0,Alabama,Alabaster,30352.0,middle
1,Ardmore,Alabama,AL,89.0,28.0,Alabama,Ardmore,1194.0,small
2,Athens,Alabama,AL,89.0,28.0,Alabama,Athens,21897.0,middle
3,Bessemer,Alabama,AL,91.0,33.0,Alabama,Bessemer,27456.0,middle
4,Birmingham,Alabama,AL,82.0,45.0,Alabama,Birmingham,212237.0,large
...,...,...,...,...,...,...,...,...,...
518,Williams Bay,Wisconsin,WI,80.0,10.0,Wisconsin,Williams Bay,2564.0,middle
519,Casper,Wyoming,WY,69.7,26.9,Wyoming,Casper,55316.0,large
520,Cheyenne,Wyoming,WY,70.5,31.0,Wyoming,Cheyenne,59466.0,large
521,Lander,Wyoming,WY,70.9,17.9,Wyoming,Lander,7487.0,middle
522,Sheridan,Wyoming,WY,69.3,27.1,Wyoming,Sheridan,17444.0,middle

In [20]:
pop_temp_drop_col = pop_temp_merge.drop(columns=['state', 'city'])

In [21]:
pop_temp_drop_col

,temp_city,temp_state,temp_abbr,Summer Temp,Winter Temp,population,pop_cat
0,Alabaster,Alabama,AL,90.0,34.0,30352.0,middle
1,Ardmore,Alabama,AL,89.0,28.0,1194.0,small
2,Athens,Alabama,AL,89.0,28.0,21897.0,middle
3,Bessemer,Alabama,AL,91.0,33.0,27456.0,middle
4,Birmingham,Alabama,AL,82.0,45.0,212237.0,large
...,...,...,...,...,...,...,...
518,Williams Bay,Wisconsin,WI,80.0,10.0,2564.0,middle
519,Casper,Wyoming,WY,69.7,26.9,55316.0,large
520,Cheyenne,Wyoming,WY,70.5,31.0,59466.0,large
521,Lander,Wyoming,WY,70.9,17.9,7487.0,middle
522,Sheridan,Wyoming,WY,69.3,27.1,17444.0,middle

## JOINING HOUSING

In [22]:
redfin_data = pd.read_csv('../redfin_housing/redfin_resources/combined_regions/redfin_all_regions.csv')

In [23]:
redfin_data

,Unnamed: 0,property_type,address,city,state,zip_code,price,beds,baths,square_feet,lot_size,year_built,hoa_permonth,url,latitude,longitude
0,6668,Single Family Residential,1022 Canvasback Way,Alabaster,AL,35007,308590.0,5.0,2.50,3216.0,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1022-Canvas...,33.183032,-86.799330
1,6669,Single Family Residential,325 Shelby Farms Ln,Alabaster,AL,35007,236400.0,3.0,2.00,1588.0,7405.0,2020.0,0.0,http://www.redfin.com/AL/Alabaster/325-Shelby-...,33.175238,-86.818897
2,6670,Single Family Residential,1018 Canvasback Way,Alabaster,AL,35007,261715.0,3.0,2.50,2174.0,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1018-Canvas...,33.183032,-86.799330
3,6671,Single Family Residential,1026 Canvasback Dr,Alabaster,AL,35007,244790.0,4.0,2.00,1774.0,8276.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1026-Canvas...,33.183032,-86.799330
4,6672,Single Family Residential,1001 Canvasback Way,Alabaster,AL,35007,279570.0,5.0,3.00,2511.0,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1001-Canvas...,33.183032,-86.799330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10147,4868,Townhouse,2705 SW Sylvan Heights Dr,Seattle,WA,98106,515000.0,2.0,2.25,1420.0,1245.0,2007.0,190.0,http://www.redfin.com/WA/Seattle/2705-SW-Sylva...,47.539596,-122.368164
10148,2434,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562
10149,4869,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562
10150,2085,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918
10151,4520,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918

In [24]:
redfin_sort_state = redfin_data.sort_values(by=['state', 'city'])
redfin_sort_state

,Unnamed: 0,property_type,address,city,state,zip_code,price,beds,baths,square_feet,lot_size,year_built,hoa_permonth,url,latitude,longitude
0,6668,Single Family Residential,1022 Canvasback Way,Alabaster,AL,35007,308590.0,5.0,2.50,3216.0,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1022-Canvas...,33.183032,-86.799330
1,6669,Single Family Residential,325 Shelby Farms Ln,Alabaster,AL,35007,236400.0,3.0,2.00,1588.0,7405.0,2020.0,0.0,http://www.redfin.com/AL/Alabaster/325-Shelby-...,33.175238,-86.818897
2,6670,Single Family Residential,1018 Canvasback Way,Alabaster,AL,35007,261715.0,3.0,2.50,2174.0,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1018-Canvas...,33.183032,-86.799330
3,6671,Single Family Residential,1026 Canvasback Dr,Alabaster,AL,35007,244790.0,4.0,2.00,1774.0,8276.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1026-Canvas...,33.183032,-86.799330
4,6672,Single Family Residential,1001 Canvasback Way,Alabaster,AL,35007,279570.0,5.0,3.00,2511.0,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1001-Canvas...,33.183032,-86.799330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10147,4868,Townhouse,2705 SW Sylvan Heights Dr,Seattle,WA,98106,515000.0,2.0,2.25,1420.0,1245.0,2007.0,190.0,http://www.redfin.com/WA/Seattle/2705-SW-Sylva...,47.539596,-122.368164
10148,2434,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562
10149,4869,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562
10150,2085,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918
10151,4520,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918

In [25]:
redfin_sort_dropna = redfin_sort_state.dropna()
redfin_sort_dropna

,Unnamed: 0,property_type,address,city,state,zip_code,price,beds,baths,square_feet,lot_size,year_built,hoa_permonth,url,latitude,longitude
0,6668,Single Family Residential,1022 Canvasback Way,Alabaster,AL,35007,308590.0,5.0,2.50,3216.0,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1022-Canvas...,33.183032,-86.799330
1,6669,Single Family Residential,325 Shelby Farms Ln,Alabaster,AL,35007,236400.0,3.0,2.00,1588.0,7405.0,2020.0,0.0,http://www.redfin.com/AL/Alabaster/325-Shelby-...,33.175238,-86.818897
2,6670,Single Family Residential,1018 Canvasback Way,Alabaster,AL,35007,261715.0,3.0,2.50,2174.0,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1018-Canvas...,33.183032,-86.799330
3,6671,Single Family Residential,1026 Canvasback Dr,Alabaster,AL,35007,244790.0,4.0,2.00,1774.0,8276.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1026-Canvas...,33.183032,-86.799330
4,6672,Single Family Residential,1001 Canvasback Way,Alabaster,AL,35007,279570.0,5.0,3.00,2511.0,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1001-Canvas...,33.183032,-86.799330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10147,4868,Townhouse,2705 SW Sylvan Heights Dr,Seattle,WA,98106,515000.0,2.0,2.25,1420.0,1245.0,2007.0,190.0,http://www.redfin.com/WA/Seattle/2705-SW-Sylva...,47.539596,-122.368164
10148,2434,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562
10149,4869,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562
10150,2085,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918
10151,4520,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918

In [26]:
pop_temp_drop_col.sort_values(by=['temp_state', 'temp_city'])
pop_temp_drop_col

,temp_city,temp_state,temp_abbr,Summer Temp,Winter Temp,population,pop_cat
0,Alabaster,Alabama,AL,90.0,34.0,30352.0,middle
1,Ardmore,Alabama,AL,89.0,28.0,1194.0,small
2,Athens,Alabama,AL,89.0,28.0,21897.0,middle
3,Bessemer,Alabama,AL,91.0,33.0,27456.0,middle
4,Birmingham,Alabama,AL,82.0,45.0,212237.0,large
...,...,...,...,...,...,...,...
518,Williams Bay,Wisconsin,WI,80.0,10.0,2564.0,middle
519,Casper,Wyoming,WY,69.7,26.9,55316.0,large
520,Cheyenne,Wyoming,WY,70.5,31.0,59466.0,large
521,Lander,Wyoming,WY,70.9,17.9,7487.0,middle
522,Sheridan,Wyoming,WY,69.3,27.1,17444.0,middle

In [27]:
housing_complete_merge = redfin_sort_dropna.merge(pop_temp_drop_col, how="left", left_on=['state', 'city'], right_on=['temp_abbr', 'temp_city'])
housing_complete_merge

,Unnamed: 0,property_type,address,city,state,zip_code,price,beds,baths,square_feet,...,url,latitude,longitude,temp_city,temp_state,temp_abbr,Summer Temp,Winter Temp,population,pop_cat
0,6668,Single Family Residential,1022 Canvasback Way,Alabaster,AL,35007,308590.0,5.0,2.50,3216.0,...,http://www.redfin.com/AL/Alabaster/1022-Canvas...,33.183032,-86.799330,Alabaster,Alabama,AL,90.0,34.0,30352.0,middle
1,6669,Single Family Residential,325 Shelby Farms Ln,Alabaster,AL,35007,236400.0,3.0,2.00,1588.0,...,http://www.redfin.com/AL/Alabaster/325-Shelby-...,33.175238,-86.818897,Alabaster,Alabama,AL,90.0,34.0,30352.0,middle
2,6670,Single Family Residential,1018 Canvasback Way,Alabaster,AL,35007,261715.0,3.0,2.50,2174.0,...,http://www.redfin.com/AL/Alabaster/1018-Canvas...,33.183032,-86.799330,Alabaster,Alabama,AL,90.0,34.0,30352.0,middle
3,6671,Single Family Residential,1026 Canvasback Dr,Alabaster,AL,35007,244790.0,4.0,2.00,1774.0,...,http://www.redfin.com/AL/Alabaster/1026-Canvas...,33.183032,-86.799330,Alabaster,Alabama,AL,90.0,34.0,30352.0,middle
4,6672,Single Family Residential,1001 Canvasback Way,Alabaster,AL,35007,279570.0,5.0,3.00,2511.0,...,http://www.redfin.com/AL/Alabaster/1001-Canvas...,33.183032,-86.799330,Alabaster,Alabama,AL,90.0,34.0,30352.0,middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8993,4868,Townhouse,2705 SW Sylvan Heights Dr,Seattle,WA,98106,515000.0,2.0,2.25,1420.0,...,http://www.redfin.com/WA/Seattle/2705-SW-Sylva...,47.539596,-122.368164,Seattle,Washington,WA,69.1,45.0,608660.0,large
8994,2434,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,...,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562,Shoreline,Washington,WA,69.1,45.0,53007.0,large
8995,4869,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,...,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562,Shoreline,Washington,WA,69.1,45.0,53007.0,large
8996,2085,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,...,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918,Vancouver,Washington,WA,79.0,33.0,161791.0,large
8997,4520,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,...,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918,Vancouver,Washington,WA,79.0,33.0,161791.0,large

In [28]:
housing_complete_merge['house_id'] = housing_complete_merge.index + 1

In [29]:
housing_complete_merge

,Unnamed: 0,property_type,address,city,state,zip_code,price,beds,baths,square_feet,...,latitude,longitude,temp_city,temp_state,temp_abbr,Summer Temp,Winter Temp,population,pop_cat,house_id
0,6668,Single Family Residential,1022 Canvasback Way,Alabaster,AL,35007,308590.0,5.0,2.50,3216.0,...,33.183032,-86.799330,Alabaster,Alabama,AL,90.0,34.0,30352.0,middle,1
1,6669,Single Family Residential,325 Shelby Farms Ln,Alabaster,AL,35007,236400.0,3.0,2.00,1588.0,...,33.175238,-86.818897,Alabaster,Alabama,AL,90.0,34.0,30352.0,middle,2
2,6670,Single Family Residential,1018 Canvasback Way,Alabaster,AL,35007,261715.0,3.0,2.50,2174.0,...,33.183032,-86.799330,Alabaster,Alabama,AL,90.0,34.0,30352.0,middle,3
3,6671,Single Family Residential,1026 Canvasback Dr,Alabaster,AL,35007,244790.0,4.0,2.00,1774.0,...,33.183032,-86.799330,Alabaster,Alabama,AL,90.0,34.0,30352.0,middle,4
4,6672,Single Family Residential,1001 Canvasback Way,Alabaster,AL,35007,279570.0,5.0,3.00,2511.0,...,33.183032,-86.799330,Alabaster,Alabama,AL,90.0,34.0,30352.0,middle,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8993,4868,Townhouse,2705 SW Sylvan Heights Dr,Seattle,WA,98106,515000.0,2.0,2.25,1420.0,...,47.539596,-122.368164,Seattle,Washington,WA,69.1,45.0,608660.0,large,8994
8994,2434,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,...,47.734004,-122.295562,Shoreline,Washington,WA,69.1,45.0,53007.0,large,8995
8995,4869,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,...,47.734004,-122.295562,Shoreline,Washington,WA,69.1,45.0,53007.0,large,8996
8996,2085,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,...,45.615925,-122.652918,Vancouver,Washington,WA,79.0,33.0,161791.0,large,8997
8997,4520,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,...,45.615925,-122.652918,Vancouver,Washington,WA,79.0,33.0,161791.0,large,8998

In [30]:
housing_complete_merge.to_csv("housing_complete_for_cleaning_only.csv")

In [31]:
cols = list(housing_complete_merge.columns.values)
cols

['Unnamed: 0',
 'property_type',
 'address',
 'city',
 'state',
 'zip_code',
 'price',
 'beds',
 'baths',
 'square_feet',
 'lot_size',
 'year_built',
 'hoa_permonth',
 'url',
 'latitude',
 'longitude',
 'temp_city',
 'temp_state',
 'temp_abbr',
 'Summer Temp',
 'Winter Temp',
 'population',
 'pop_cat',
 'house_id']

In [32]:
complete_housing_data = housing_complete_merge[['house_id','property_type','address', 'city','state','zip_code',
                                                'price','beds','baths','square_feet','lot_size','year_built',
                                                'hoa_permonth','url', 'latitude','longitude','Summer Temp',
                                                 'Winter Temp','population', 'pop_cat']]

 
complete_housing_data

,house_id,property_type,address,city,state,zip_code,price,beds,baths,square_feet,lot_size,year_built,hoa_permonth,url,latitude,longitude,Summer Temp,Winter Temp,population,pop_cat
0,1,Single Family Residential,1022 Canvasback Way,Alabaster,AL,35007,308590.0,5.0,2.50,3216.0,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1022-Canvas...,33.183032,-86.799330,90.0,34.0,30352.0,middle
1,2,Single Family Residential,325 Shelby Farms Ln,Alabaster,AL,35007,236400.0,3.0,2.00,1588.0,7405.0,2020.0,0.0,http://www.redfin.com/AL/Alabaster/325-Shelby-...,33.175238,-86.818897,90.0,34.0,30352.0,middle
2,3,Single Family Residential,1018 Canvasback Way,Alabaster,AL,35007,261715.0,3.0,2.50,2174.0,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1018-Canvas...,33.183032,-86.799330,90.0,34.0,30352.0,middle
3,4,Single Family Residential,1026 Canvasback Dr,Alabaster,AL,35007,244790.0,4.0,2.00,1774.0,8276.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1026-Canvas...,33.183032,-86.799330,90.0,34.0,30352.0,middle
4,5,Single Family Residential,1001 Canvasback Way,Alabaster,AL,35007,279570.0,5.0,3.00,2511.0,7840.0,2020.0,35.0,http://www.redfin.com/AL/Alabaster/1001-Canvas...,33.183032,-86.799330,90.0,34.0,30352.0,middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8993,8994,Townhouse,2705 SW Sylvan Heights Dr,Seattle,WA,98106,515000.0,2.0,2.25,1420.0,1245.0,2007.0,190.0,http://www.redfin.com/WA/Seattle/2705-SW-Sylva...,47.539596,-122.368164,69.1,45.0,608660.0,large
8994,8995,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562,69.1,45.0,53007.0,large
8995,8996,Single Family Residential,3020 NE 145th St,Shoreline,WA,98155,599000.0,3.0,1.00,1020.0,6135.0,1947.0,0.0,http://www.redfin.com/WA/Shoreline/3020-NE-145...,47.734004,-122.295562,69.1,45.0,53007.0,large
8996,8997,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918,79.0,33.0,161791.0,large
8997,8998,Condo/Co-op,730 SE Fairwinds Loop,Vancouver,WA,98661,365000.0,3.0,2.00,1324.0,0.0,2001.0,237.0,http://www.redfin.com/WA/Vancouver/730-SE-Fair...,45.615925,-122.652918,79.0,33.0,161791.0,large

In [33]:
training_data = housing_complete_merge[['house_id','price','beds','baths','square_feet','lot_size',
                                                'hoa_permonth', 'Summer Temp','Winter Temp','population']]

training_data

,house_id,price,beds,baths,square_feet,lot_size,hoa_permonth,Summer Temp,Winter Temp,population
0,1,308590.0,5.0,2.50,3216.0,7840.0,35.0,90.0,34.0,30352.0
1,2,236400.0,3.0,2.00,1588.0,7405.0,0.0,90.0,34.0,30352.0
2,3,261715.0,3.0,2.50,2174.0,7840.0,35.0,90.0,34.0,30352.0
3,4,244790.0,4.0,2.00,1774.0,8276.0,35.0,90.0,34.0,30352.0
4,5,279570.0,5.0,3.00,2511.0,7840.0,35.0,90.0,34.0,30352.0
...,...,...,...,...,...,...,...,...,...,...
8993,8994,515000.0,2.0,2.25,1420.0,1245.0,190.0,69.1,45.0,608660.0
8994,8995,599000.0,3.0,1.00,1020.0,6135.0,0.0,69.1,45.0,53007.0
8995,8996,599000.0,3.0,1.00,1020.0,6135.0,0.0,69.1,45.0,53007.0
8996,8997,365000.0,3.0,2.00,1324.0,0.0,237.0,79.0,33.0,161791.0
8997,8998,365000.0,3.0,2.00,1324.0,0.0,237.0,79.0,33.0,161791.0

In [34]:
complete_housing_data.to_csv('housing_complete_data.csv')

In [35]:
training_data.to_csv('../housing_training_data.csv', index=False)

In [36]:
print(len(complete_housing_data.index))

test_results = complete_housing_data.dropna()
print(len(test_results.index))

print("lost rows: " + str(len(complete_housing_data.index) - len(test_results.index)))

8998
8995
lost rows: 3